.App {
  text-align: center;
  margin: auto;
  align-items: center;
  height: 300px;
  border: 1px solid black;
  width: 40%;
  margin-top: 20px;
  background-color: rgb(45, 148, 148);

}

.parentref{
  height: 100px;
  width: 25%;
  border: 1px solid black;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  background-color: aqua;
 
}

 .btn{
   margin-top: 10px;
   background-color: brown;
 }
 .frd{
 text-align: center;
}
.frg {
  margin-top: 100px;
  text-align: center;
}
.frgmnt{
  margin-top: 100px;
  text-align: center;
}
.prt{
  text-align: center;
}
.prnt{
  text-align: center;
  margin: auto;
  align-items: center;
}
.pbtn{
  margin: auto;
  text-align: center;
  align-items: center;
}
